<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ page.title }}</title>
    <meta name="Description" lang="en" content="Keywurl is a free plugin for Safari that adds keyword search to the browser's address bar"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>	
    <meta name="robots" content="noodp"/>
    <link rel="stylesheet" type="text/css" href="{{ site.url_root }}/stylesheets/style.css" media="all"/>
    <script src="javascripts/prototype.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper_outer">
      <div class="wrapper_inner">      
        {{ content }}
      </div>
    </div>
  </body>     

  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-129279-12");
  pageTracker._trackPageview();
  } catch(err) {}</script>

</html>